<div class="warp">
  <div class="card-container">
    <% @bookings.each do |booking| %>
      <div class="card card-index" style="padding: 10px; width: 150px;" >
        <div>
          <p>Booking for</p>
          <div><%= cl_image_tag booking.ship.photo, height: 100, width: 100, crop: :fill %></div>
          <br>
          <h2><%= booking.ship.name.capitalize %>   <i class="fas fa-rocket"></i></h2>
          <p class="h5-bookings"> <i class="far fa-calendar-alt"></i>
          <%= booking.starting_date %>
          <i class="fas fa-long-arrow-alt-right">   </i> To
          <%= booking.ending_date %>
          </p>
          <p><strong><%= booking.user.email %></strong></p>
          <h2 class="h5-bookings"> <strong><i class="fas fa-tablet"></i>
          <%= booking.status %></strong> </h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
