<h1 class ="h1 bookings"> My bookings </h1>
<div class="container card-bookings">
  <% @bookings.each do |booking|%>
      <p>Booking <%= booking.id %> in ship <strong> <%= booking.ship.name.capitalize %> </strong></p>

    <ul>
      <li>Status : <%= booking.status %></li>
      <li>From <%= booking.starting_date %> to <%= booking.ending_date %></li>
    </ul>
  <%end%>

</div>
