
<!--Banner ----------------------------------------------------------------------------------- -->

<div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "home-banner" %>');">

<div class="container">
    <h1>Spacetrip</h1>
      <div class="link"><%= link_to 'Discover Spaceships', new_user_password_path, class: 'btn btn-primary' %>
          </div>
    </div>

</div>




<!--cards -------------------------------------------------------------------------------------- -->


<div class="cards cards-home">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship1" %>')">
    Interceptor
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship2" %>')">
    UNSC Infinity
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship3" %>')">
    Eagle MkII
  </div>
</div>


<!--cards------------------------------------------------------------------------------------ -->

<div class="cards cards-home">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship4" %>')">
    Dolphin
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship5" %>')">
    Python
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship6" %>')">
    sidewinder
  </div>
</div>


