
<!--Banner ----------------------------------------------------------------------------------- -->

  <div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "home-banner.jpg" %>');">
      <h1>Spacetrip</h1>
        <div class="link"><%= link_to 'Discover Spaceships', ships_path, class: 'btn btn-primary' %>
        </div>
  </div>
  <p class="product_desc"> 🚀 Best Ships 🚀</p>
  </div>



  <!--cards -------------------------------------------------------------------------------------- -->

  <div class="cards cards-home">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship4.jpg" %>')">
      <%= link_to "Dolphin", ships_path(@ships) %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "orca.jpg" %>')">
       <%= link_to "VAS QUIB QUIB", bookings_path %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship3.jpg" %>')">
      <p class="link-ships-home"> <%= link_to "Curitosity", ships_path %> </p>

    </div>
  </div>



  <div class="cards cards-home">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "mambaship.jpg" %>')">
      <%= link_to "Varity", ships_path %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship5.jpg" %>')">
      <%= link_to "Python", ships_path %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "ship6.jpg" %>')">
        <%= link_to "sidewinder", ships_path %>
    </div>
  </div>

 <!-- Testimonials -->
    <div class="reviews">
      <h2> 🚀 Reviews 🚀</h2>
    </div>
    <div class="testimonial_bar">


      <div class="testimonial">"Very nice trip to Mars" <br> <strong>John Harrell</strong>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
        <div class="testimonial">"I had an axesome honeyMoon thanks to Spacetrip" <br> <strong>Edward Cohen</strong>
          <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      <div class="testimonial">"The Millenium Falcon was so amazing" <br> <strong>Andrew Johnson</strong>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
       </div>
      <div class="testimonial">"Our hosts were very nice to us" <br> <strong>Elisabeth Green</strong>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
    </div>
    <!-- Testimonials -->
