<div class="block">
  <div class="background"><%= cl_image_tag @ship.photo, height: 300, width: 500, crop: :fill %></div>
  <div class="card-trip-infos">
    <div class="infos">
      <h1><strong><%= @ship.name.upcase  %></strong></h1>
      <h2 class="card-trip-pricing"> <%= @ship.price %>€ per week </h2>
      <p>Capacity : <%= @ship.capacity %> person(s)</p>
      <p><%= @ship.description %></p>
      <!-- <p>Pick a date</p> -->
    </div>
    <div class="infos">
      <%= simple_form_for [@ship, @booking] do |f| %>
        <%= f.input :starting_date, as: :string, required: true, input_html: {id: "range_start"} %>
        <%= f.input :ending_date, as: :string, required: true, input_html: {id: "range_end"} %>
        <%= f.button :submit, "Book now!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


